.member-header {
  color: #0a2471;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.header-text-with-line {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-text-with-line h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #0a2471;
}

.header-line {
  height: 2px;
  background-color: #0a2471;
  width: 100%;
  margin-top: 0.5rem;
  opacity: 0.8;
}
