.schedule-card {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #000000;
  /*box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);*/
}

.schedule-card-header {
  font-size: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #000000;
  padding-bottom: 8px;
}

.schedule-icon {
  width: 30%;
  height: 50%;
  margin-bottom: 10px;
}

.schedule-btn {
  width: 80%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 0 auto;
  background-color: #ff5252;
  color: white;
  border: 2px solid #ffffff;
  transition: 0.3s ease;
}

.schedule-btn-icon {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  vertical-align: middle;
}

.schedule-btn:hover {
  background-color: #ffffff;
  color: #ff5252;
  border: 2px solid #ff5252;
}

/* Assigned Group Column Styles */
.assigned-group-column {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.assigned-group-header {
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
}

.group-name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 8px;
  color: #333;
  text-align: center;
}

.mass-details {
  font-size: 14px;
  margin-bottom: 20px;
  color: #666;
  text-align: center;
}

.action-buttons {
  margin-bottom: 20px;
  display: 1;
  justify-content: center;
  width: 100%;
}

.export-btn,
.print-btn {
  min-width: 90%;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #213571;
  background-color: #213571;
  color: white;
  transition: all 0.3s;
  text-align: center;
}

.export-btn:hover,
.print-btn:hover {
  background-color: white;
  color: #213571;
  border: 1px solid #213571;
}
