/* Wrapper */
.update-schedule-wrapper {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  border: 2px solid #000000;
  margin-bottom: 24px;
}

/* Header */
.update-schedule-header {
  font-size: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #000000;
  padding-bottom: 8px;
}

/* Body Layout */
.update-schedule-body {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* ensures all columns are equal height */
  text-align: center;
}

.schedule-col {
  flex: 1;
  padding: 15px;
  align-items: center;
}

.schedule-col:not(:last-child) {
  border-right: 1px solid #000000;
}

/* No Schedule Column */
.img-no-schedule {
  width: 30%;
  height: 70%;
  margin-bottom: 10px;
  opacity: 0.7;
}

.no-schedule p {
  font-size: 14px;
  color: #666;
}

/* Cancel Button */
.cancel-btn {
  width: 80%;
  height: 20%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  margin: 0 auto;
  background-color: #ff5252;
  color: white;
  border: 2px solid #ffffff;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 4px;
}

.cancel-btn-icon {
  width: 5px;
  height: 5px;
  margin-right: 6px;
  vertical-align: middle;
}

.cancel-btn:hover {
  background-color: #ffffff !important;
  color: #ff5252 !important;
  border: 2px solid #ff5252;
}
